<div class="container">
    <div class="card toppic-margin shadow-sm">
      <div class="card-body">
          <div class="row">
              <div class="col-md-6">
                  <p class="font-manage">
                      ตำแหน่ง
                  </p>
              </div>
              <div class="col-md-6">
                  <div class="d-flex justify-content-end">
                      <button class="btn btn-outline-info" (click)="MarkerMap()"><i class="fas fa-plus"></i>Add</button>
                  </div>
              </div>
          </div>  
          <hr>
      </div>
  
      <div class="row">
        <div class="col-md-12">
          <div class="tb-responsive">
              <table class="table">
                  <thead class="bg-success tb-text">
                    <tr>
                      <th scope="col">ลำดับ</th>
                      <th scope="col">รหัส</th>
                      <th scope="col">ชื่อตำแหน่ง</th>   
                      <th scope="col">แผนที่</th>      
                      <th scope="col">รายละเอียด</th>
                    </tr>
                  </thead>
                  <tbody class="tb-bodytext">
  
                    <tr *ngFor="let value of data; let i = index">
                      <th scope="row">{{i+1}}</th>
                      <td>{{value.areaId}}</td>
                      <td>{{value.areaName}}</td>                    
                      <td> <button class="btn btn-warning" (click)="viewMap(value)"><i class="fas fa-map-marked-alt tb-text"></i></button> </td>
                      <td> 
                        <button class="btn btn-info" (click)="redirect(value.areaId)"> <i class="fas fa-database"></i> </button> &nbsp;
                        <button class="btn btn-warning" (click)="ctrlDoor(value.dearId)"><i class="fas fa-door-open"></i></button>
                      </td>
                    </tr>
  
                  </tbody>
                </table>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  

