<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-center">
                Login
            </div>
        </div>
        <div class="card-body">
            <form (ngSubmit)="authentiate(form.value)" [formGroup]="form">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" formControlName="username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password">
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-info">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>