<div class="container">
    <div class="card toppic-margin shadow-sm">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p class="font-manage">
                        จัดการผู้ใช้งาน
                    </p>
                </div>

            </div>


            <hr>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="tb-responsive">
                    <table class="table">
                        <thead class="bg-success tb-text">
                            <tr>
                                <th scope="col">ลำดับ</th>
                                <th scope="col">รหัส</th>
                                <th scope="col">ชื่อ - สกุล</th>
                                <th scope="col">ตำแหน่ง</th>
                                <th scope="col">สิทธิพิเศษ</th>
                            </tr>
                        </thead>
                        <tbody class="tb-bodytext">

                            <tr *ngFor="let value of data; let i = index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{value.usrId}}</td>
                                <td>{{value.fName}} {{value.lName}}</td>
                                <td>
                                    <mat-form-field>
                                        <mat-label>ตำแหน่ง</mat-label>
                                        <mat-select [value]="value.position">
                                            <mat-option *ngFor="let pos of positions" [value]="pos.positionId"
                                                (click)="changePosition(pos.positionId, value.position, value.usrId)">
                                                {{pos.positionName}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field>
                                        <mat-label>สิทธิพิเศษ</mat-label>
                                        <mat-select [value]="value.privilege">
                                            <mat-option *ngFor="let pri of privilaeges" [value]="pri.privilegeID"
                                            (click)="changePrivilege(pri.privilegeID, value.privilege, value.usrId)">
                                                {{pri.privilegeName}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>