/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Prompt:300&display=swap');
@import "~ng-pick-datetime/assets/style/picker.min.css";


* {
  font-family: 'Prompt', sans-serif;
}

html, body {
  height: 100%;  
}

.bg-all {
  background-color:#151a30;
  background-size: cover;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
}

.tb-responsive {
  overflow-x: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.tb-text{
  color: #ffffff;
  font-size: 8pt;
}


.tb-bodytext {
  font-size: 8pt;
}

.font-manage {
  font-size: 20px;
}

.toppic-margin{
  margin-top:3vh;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

/* .active {
  color: #000000;
} */

mat-toolbar {
  max-height: 50px;
  min-height: 50px;
  position: fixed;
  z-index: 100;
}

.grad {
  /* background-image: linear-gradient(to right, #041320 , #0a6483); */
  background-color: #222b44;
}

.all-menu {
  margin-top: 10px; 
  margin-left: 5px;
}

.menu-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.bg-container {
  background-color: #151a30;
}

.active-link {
  border-left: #6eb5ff 8px solid;
  background-color:rgb(236,238,240, 0.2);
  color: #ffffff;
}

.active-link :hover {
  border-left: #6eb5ff 8px solid !important;
  background-color:rgb(236,238,240, 0.2); 
}

.container {
  margin-top: 80px;
}
