.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 250px;
  }
  
  .active {
    color: #000000;
  }
  
  mat-toolbar {
    height: 55px;
    position: relative;
    z-index: 100;
  }
  
  .grad {
    /* background-image: linear-gradient(to right, #041320 , #0a6483); */
    background-color: #222b44;
  }
  
  .all-menu {
    margin-top: 10px; 
    margin-left: 5px;
   
  }

.menu-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

  