<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="#">TMSM</a>

  <div class="collapse navbar-collapse  text-white" id="navbarTogglerDemo02">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" routerLinkActive="active">

      <li class="nav-item">
        <a routerLink="manage" routerLinkActive="active" class="nav-link" >จัดการสรรพสิ่ง</a>
      </li>
      <li class="nav-item">
        <a routerLink="rights" routerLinkActive="active" class="nav-link" >จัดการสิทธิ์</a>
      </li>
      <li class="nav-item">
          <a routerLink="accept" routerLinkActive="active" class="nav-link" >อนุมัติสิทธิ์</a>
      </li>
      <li class="nav-item">
          <a routerLink="acdoor" routerLinkActive="active" class="nav-link" >อนุมัติการร้องขอประตู</a>
      </li>
      <li class="nav-item">
        <a routerLink="controll" routerLinkActive="active" class="nav-link" >ควบคุม</a>
      </li>
      <li class="nav-item">
        <a routerLink="controlldoor" routerLinkActive="active" class="nav-link">ควบคุมประตู</a>
      </li>
      <li class="nav-item">
        <a routerLink="position/all" routerLinkActive="active" class="nav-link">ตำแหน่ง</a>
      </li>
    
    </ul>

  </div>

</nav>

<!-- <mat-toolbar class="grad text-dark mat-elevation-z3">
  <button
    class="menu-button"
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon><i class="fas fa-bars text-white"></i></mat-icon>
    
   </button>   
   <span class="text-white">TMSM</span>
 </mat-toolbar>

 <mat-sidenav-container class="sidenav-container mat-elevation-z6">
  <mat-sidenav #drawer 
               fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)"
               [fixedTopGap]="55"
               class="sidenav  grad text-dark"> 
   
  </mat-sidenav>  
</mat-sidenav-container> -->