<div class="container container-margin ">
  <div class="card toppic-margin shadow-sm">
    <div class="card-body">

            <p class="font-manage">
              จัดการสรรพสิ่ง
            </p>

        <hr>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="tb-responsive">
            <table class="table">
                <thead class="bg-success tb-text">
                  <tr>
                    <th scope="col">ลำดับ</th>
                    <th scope="col">Id</th>
                    <th scope="col">ชื่อสรรพสิ่ง</th>
                    <th scope="col">ชนิด</th>
                    <th scope="col">IP</th>
                    <th scope="col">MAC Address</th>
                    <th scope="col">การจัดการ</th>
                  </tr>
                </thead>
                <tbody class="tb-bodytext">

                  <tr *ngFor="let value of thingsObject; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{value.thingID}}</td>
                    <td>{{value.thingName}}</td>
                    <td>{{value.thingTypeName}}</td>
                    <td>{{value.thingIP}}</td>
                    <td>{{value.thingMAC}}</td>
                    <td>
                      <button class="btn btn-info tb-bodytext" (click)="dialogSetting(value)"><i class="fas fa-cogs"></i></button> &nbsp;
                      <button class="btn btn-success tb-bodytext" (click)="dialogEnable(value)"><i class="fas fa-tasks"></i></button> &nbsp;
                      <button class="btn btn-warning tb-bodytext" (click)="directMarker(value)" ><i class="fas fa-map-marked-alt tb-text"></i></button>
                    </td>
                  </tr>

                </tbody>
              </table>
        </div>
      </div>
    </div>

  </div>
</div>
