<div class="container">
    <div class="card toppic-margin shadow-sm">
      <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <p class="font-manage">
                    ปริมาณการใช้ไฟฟ้า
                </p>
            </div>
        </div>
              
  
          <hr>
      </div>
  
      <div class="row">
        <div class="col-md-12">
          <div class="tb-responsive">
              <table class="table">
                  <thead class="bg-success tb-text">
                    <tr>
                      <th scope="col">ลำดับ</th>
                      <th scope="col">รหัสอุปกรณ์</th>
                      <th scope="col">ชื่ออุปกรณ์</th>   
                      <th scope="col">หน่วย</th>      
                      <th scope="col">จำนวนเงิน</th>
                    </tr>
                  </thead>
                  <tbody class="tb-bodytext">
  
                    <tr *ngFor="let value of data; let i = index">
                      <th scope="row">{{i+1}}</th>
                      <td>{{value.deviceId}}</td>
                      <td>{{value.deviceName}}</td>                    
                      <td>{{value.electricUnit}} </td>
                      <td>{{value.electricBill}} </td>
                    </tr>
  
                  </tbody>
                </table>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  


