<div class="container">
  <p>
    เปิดช่องการใช้งาน : Things {{Id}}
  </p>

  <div class="row">
    <div class="col-md-5">
      <mat-form-field>
        <mat-label>เลือกสถานที่</mat-label>
        <mat-select [value]="NameAreaFromData">
          <mat-option *ngFor="let area of SelectArea" [value]="area.id" (click)="getArea(area.id, area.detail)">
            {{area.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-5">
      <mat-form-field>
        <mat-label>เลือกพื้นที่ย่อย</mat-label>
        <mat-select [value]="NameSubArea">
          <mat-option *ngFor="let sub of Subarea" [value]="sub.dearId" (click)="getSubarea(sub.dearId)">
            {{sub.dearName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div class="col-md-2">
      <div class="d-flex justify-content-end">
        <button class="btn btn-info " (click)="toat()"> ยืนยัน </button>
      </div>
    </div>
  </div>
  <hr>

  <div class="tb-responsive">
    <table class="table">
      <thead class="bg-info tb-text">
        <tr>
          <th scope="col">ลำดับ</th>
          <th scope="col">Id</th>
          <th scope="col">ช่อง</th>
          <th scope="col">ชื่อ</th>
          <th scope="col">สถานะ</th>
        </tr>
      </thead>
      <tbody class="tb-bodytext">
        <tr *ngFor="let item of Ch ; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{item.thing}}</td>
          <td>{{item.nameCh}}</td>
          <td>
           <div  class="input-group input-group-sm mb-3">
              <input type="text" class="form-control" aria-label="Small" >
           </div>
          </td>
          <td><button class="btn btn-outline-info" (click)="createDevices(item.thing, item.nameCh)"><i class="fas fa-check"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
