<div class="container">
   <div class="card shadow-sm toppic-margin">
     <div class="card-body">
       <p class="font-manage">
         อนุมัติการร้องขอสรรพสิ่ง
       </p> <hr>

       <div class="row">
         <div class="col-md-12">
           <div class="tb-responsive">
             <table class="table">
               <thead class="bg-success tb-text">
                 <tr>
                   <th scope="col">ลำดับ</th>
                   <th scope="col">Id</th>
                   <th scope="col">ชื่อผู้ร้องขอ</th>
                   <th scope="col">อุปกรณ์ที่ร้องขอ</th>
                   <th scope="col">สถานะ</th>
                   <th scope="col"></th>
                 </tr>
               </thead>
               <tbody class="tb-bodytext">
                  <tr *ngFor="let value of userApprove; let i = index">
                    <th scope="col">{{i+1}}</th>
                    <td>{{value.permitID}}</td>
                    <td>{{value.userFName}}  {{value.userLName}}</td>
                    <td>{{value.permitPrivilage}}</td>
                    <td>
                      <button class="btn btn-info" (click)="approve(value)"><i class="fas fa-check"></i></button>
                    </td>
                  </tr>
               </tbody>
             </table>
           </div>
         </div>
       </div>

     </div>
   </div>
</div>
