<ng-container>
    <mat-toolbar class="grad text-dark mat-elevation-z3">
        <button class="menu-button" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
            *ngIf="isHandset$ | async">
            <mat-icon><i class="fas fa-bars text-white"></i></mat-icon>
        </button>&nbsp;&nbsp;&nbsp;
        <span class="text-white">TMSM</span> &nbsp;&nbsp;&nbsp;
        <a mat-list-item routerLink="login" class="text-white">Login</a>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container mat-elevation-z6">
        <mat-sidenav #drawer fixedInViewport 
          [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
          [mode]="(isHandset$ | async) ? 'over' : 'side'" 
          [opened]="!(isHandset$ | async)" 
          [fixedTopGap] = "50"
          class="sidenav  grad text-dark"> 
          <!-- Manage all Menu-->
          <mat-nav-list>
            <a mat-list-item routerLink="" routerLinkActive="active-link" class="text-white">จัดการสรรพสิ่ง</a>
            <a mat-list-item routerLink="" routerLinkActive="active-link" class="text-white">จัดการสิทธิ์</a>
            <a mat-list-item routerLink="" routerLinkActive="active-link" class="text-white">อนุมัติสิทธิ์</a>
            <a mat-list-item routerLink="" routerLinkActive="active-link" class="text-white">อนุมัติการร้องขอประตู</a>
            <a mat-list-item routerLink="" routerLinkActive="active-link" class="text-white">จัดการผู้ใช้</a>
            <a mat-list-item routerLink="" routerLinkActive="active-link" class="text-white">ควบคุมประตู</a>
            <a mat-list-item routerLink="" routerLinkActive="active-link" class="text-white">ตำแหน่ง</a>
          </mat-nav-list>
    
        </mat-sidenav>
    
        <mat-sidenav-content>    
            <router-outlet></router-outlet>     
        </mat-sidenav-content>
    
      </mat-sidenav-container>
</ng-container>