<div class="container">
    <div class="card toppic-margin shadow-sm">
      <div class="card-body">
  
              <p class="font-manage">
                ควบคุมประตู
              </p>
  
          <hr>

          <div class="d-flex justify-content-center">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-outline-info" (click)="doorController(1)">เปิด</button> &nbsp;
                    <button class="btn btn-outline-info" (click)="doorController(2)">หยุด</button> &nbsp;
                    <button class="btn btn-outline-info" (click)="doorController(0)">ปิด</button>
                </div>
            </div>
          
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                    <div class="row">
                        <div class="col-md-12">
                            Status : <span>{{Status}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      </div>
    </div>
  </div>
  
