<div class="container">
  <div class="card toppic-margin shadow-sm">
    <div class="card-body">
      <p class="font-manage">
        จัดการสิทธิ์
      </p>
      <hr>

      <div class="row">
        <div class="col-md-12">
          <div class="tb-responsive">
            <table class="table">
              <thead class="bg-success tb-text">
                <tr>
                  <th scope="col">ลำดับ</th>
                  <th scope="col">ชื่อ</th>
                  <th scope="col">สิทธิ์</th>
                  <th scope="col">การอนุมัติ</th>
                  <th scope="col">การอนุญาติ</th>
                  <th scope="col">การตั้งค่าล่าสุด</th>
                  <th scope="col">เวลาสิ้นสุด</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="tb-bodytext">

                <tr *ngFor="let value of data; let i = index">

                  <th scope="col">{{i+1}}</th>
                  <td>{{value.fullname}}</td>
                  <td>{{value.permitPrivilage}}</td>

                  <td>
                    <mat-form-field>
                      <mat-label>การอนุญาติ</mat-label>
                      <mat-select [value]="value.permitStatus">
                        <mat-option *ngFor="let status of Status" [value]="status.id" (click)="updateStatus(status.id)">
                          {{status.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>

                  <td>
                    <mat-form-field>
                      <mat-label>การอนุญาติ</mat-label>
                      <mat-select [value]="value.permitGrant">
                        <mat-option *ngFor="let grant of grant" [value]="grant.grantId"
                          (click)="setPermit(grant.grantId)">
                          {{grant.grantName}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="เวลาต่ำสุด" [value]="value.permitTimeMin ">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="เวลาสูงสุด" [value]="value.permitTimeMax ">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="ตั้งค่าเวลา" [selectMode]="'range'" [ngModel]="selectedMoment"
                        [value]="value.permitTimeMax" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2">
                      <owl-date-time #dt2></owl-date-time>
                    </mat-form-field>
                  </td>
                  <td>
                    <button class="btn btn-info"
                      (click)="updateData(value.permitID,value.permitStatus,value.permitGrant, value.permitTimeMin, value.permitTimeMax , value.fullname, value.nameDevice)"><i
                        class="fas fa-check"></i></button>
                  </td>

                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
