<div class="container">
  <p>
    ตั้งค่าอุปกรณ์ : Things {{Id}}
  </p>
  <hr>
  <form [formGroup]="form">
    <div class="form-groub">
      <div class="row">
        <div class="col-md-4">
          <mat-form-field>
            <mat-label>อุปกรณ์</mat-label>
            <mat-select>
              <mat-option *ngFor="let dev of devices" [value]="dev.deviceID" (click)="selectDevice(dev.deviceCH)">
                {{dev.detailName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-label>ความสำคัญ</mat-label>
            <mat-select [value]="valPriority">
              <mat-option *ngFor="let value of priority" [value]="value.priorityID"
                (click)="selectPriority(value.priorityID)">
                {{value.priorityName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-label>การมองเห็น</mat-label>
            <mat-select [value]="valVisibilty">
              <mat-option *ngFor="let value of visibility" [value]="value.visibilityID"
                (click)="selectVisibility(value.visibilityID)">
                {{value.visibilityName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="ชื่ออุปกรณ์" formControlName="deviceName">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="สิทธิ์ของอุปกรณ์" [value]="privilage">
              </mat-form-field>
            </div>
            <div>
              <section class="box-section">
                <mat-checkbox class="box-margin" (change)=selectRead($event)>R</mat-checkbox>
                <mat-checkbox class="box-margin" (change)=selectWrite($event)>W</mat-checkbox>
                <mat-checkbox class="box-margin" (change)=selectExec($event)>X</mat-checkbox>
              </section>
            </div>
          </div>
        </div>
        <div class="col-md-4">

        </div>
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-end">
      <button class="btn btn-danger" (click)="closeDialog()">ปิด</button> &nbsp;
      <button class="btn btn-info" (click)="updateData()">บันทึก</button>
    </div>
  </form>
</div>
