<div class="container">
  <div class="card toppic-margin shadow-sm">
      <div class="card-body">
        <p class="font-manage">
          อนุมัติการร้องขอสิทธิ์
        </p><hr>

        <div class="row">
            <div class="col-md-12">
              <div class="tb-responsive">
                <table class="table">
                    <thead class="bg-success tb-text">
                      <tr>
                        <th scope="col">ลำดับ</th>
                        <th scope="col">Id</th>
                        <th scope="col">ชื่อ-สกุล</th>
                        <th scope="col">สิทธิ์ที่ร้องขอ</th>
                        <th scope="col">การจัดการ</th>
                      </tr>
                    </thead>
                    <tbody class="tb-bodytext">
                        <tr *ngFor="let value of dataPermition; let i = index">
                            <th scope="col">{{i+1}}</th>
                            <td>{{value.permitID}}</td>
                            <td>{{value.userFName}} {{value.userLName}}</td>
                            <td>{{value.permitPrivilage}}</td>
                            <td><button class="btn btn-info" (click)=" postData(value.permitID, value.userFName, value.userLName)" ><i class="fas fa-check"></i></button></td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
        </div>

      </div>
  </div>
</div>
