<div class="container">
    <div class="card toppic-margin shadow-sm">
      <div class="card-body">
  
              <p class="font-manage">
                ควบคุม
              </p>
  
          <hr>
      </div>
  
      <div class="row">
        <div class="col-md-12">
          <div class="tb-responsive">
              <table class="table">
                  <thead class="bg-success tb-text">
                    <tr>
                      <th scope="col">ลำดับ</th>
                      <th scope="col">รหัสอุปกรณ์</th>
                      <th scope="col">ชื่ออุปกรณ์</th>                    
                      <th scope="col">ช่อง</th>
                      <th scope="col">การจัดการ</th>
                    </tr>
                  </thead>
                  <tbody class="tb-bodytext">
  
                    <tr *ngFor="let value of mkData; let i = index">
                      <th scope="row">{{i+1}}</th>
                      <td>{{value.deviceID}}</td>
                      <td>{{value.deviceName}}</td>
                      <td>{{value.deviceCH}}</td>                      
                      <td>
                        <mat-slide-toggle (change)="on($event, value)" [checked]="value.deviceStatus"></mat-slide-toggle>                       
                      </td>
                    </tr>
  
                  </tbody>
                </table>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  