<div class="container">
    <p class="font-manage">
        แผนที่
      </p>
      <hr>
</div>
<agm-map [latitude]="lat" [longitude]="lng" [mapTypeId]="'satellite'" [zoom]=zoom>
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>