<!-- <app-navbar-main></app-navbar-main> -->
<!-- <app-main-nav></app-main-nav> -->
<!-- <router-outlet></router-outlet> -->

<!-- <li class="nav-item">
        <a routerLink="manage" routerLinkActive="active" class="nav-link" >จัดการสรรพสิ่ง</a>
      </li>
      <li class="nav-item">
        <a routerLink="rights" routerLinkActive="active" class="nav-link" >จัดการสิทธิ์</a>
      </li>
      <li class="nav-item">
          <a routerLink="accept" routerLinkActive="active" class="nav-link" >อนุมัติสิทธิ์</a>
      </li>
      <li class="nav-item">
          <a routerLink="acdoor" routerLinkActive="active" class="nav-link" >อนุมัติการร้องขอประตู</a>
      </li>
      <li class="nav-item">
        <a routerLink="controll" routerLinkActive="active" class="nav-link" >ควบคุม</a>
      </li>
      <li class="nav-item">
        <a routerLink="controlldoor" routerLinkActive="active" class="nav-link">ควบคุมประตู</a>
      </li>
      <li class="nav-item">
        <a routerLink="position/all" routerLinkActive="active" class="nav-link">ตำแหน่ง</a>
      </li> -->

<!-- <mat-toolbar class="grad text-dark mat-elevation-z3">
    <button class="menu-button" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon><i class="fas fa-bars text-white"></i></mat-icon>

    </button>
    <span class="text-white">TMSM</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container mat-elevation-z6">
    <mat-sidenav #drawer fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)" [fixedTopGap]="55"
        class="sidenav  grad text-dark"> -->
<!-- Manage all Menu-->
<!-- <mat-nav-list>
            <mat-list-item routerLink="manage" routerLinkActive="active-test">จัดการสรรพสิ่ง</mat-list-item>
            <mat-list-item routerLink="rights" routerLinkActive="active-test">จัดการสิทธิ์</mat-list-item>
            <mat-list-item routerLink="accept" routerLinkActive="active-test">อนุมัติสิทธิ์</mat-list-item>
            <mat-list-item routerLink="acdoor" routerLinkActive="active-test">อนุมัติการร้องขอประตู</mat-list-item>
            <mat-list-item routerLink="controll" routerLinkActive="active-test">ควบคุม</mat-list-item>
            <mat-list-item routerLink="controlldoor" routerLinkActive="active-test">ควบคุมประตู</mat-list-item>
            <mat-list-item routerLink="position/all" routerLinkActive="active-test">ตำแหน่ง</mat-list-item>
        </mat-nav-list>


    </mat-sidenav>
    <mat-sidenav-content>
        <div class="bg-container">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>  -->

<ng-container>
  <mat-toolbar class="grad text-dark mat-elevation-z3">
    <button class="menu-button" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon><i class="fas fa-bars text-white"></i></mat-icon>
    </button>
    <span class="text-white">TMSM</span> &nbsp;&nbsp;&nbsp;
    <a mat-list-item routerLink="login" class="text-white">Login</a>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container mat-elevation-z6">
    <mat-sidenav #drawer fixedInViewport 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" 
      [opened]="!(isHandset$ | async)" 
      [fixedTopGap] = "50"
      class="sidenav  grad text-dark"> 
      <!-- Manage all Menu-->
      <mat-nav-list>
        <a mat-list-item routerLink="manage" routerLinkActive="active-link" class="text-white">จัดการสรรพสิ่ง</a>
        <a mat-list-item routerLink="rights" routerLinkActive="active-link" class="text-white">จัดการสิทธิ์</a>
        <a mat-list-item routerLink="accept" routerLinkActive="active-link" class="text-white">อนุมัติสิทธิ์</a>
        <a mat-list-item routerLink="acdoor" routerLinkActive="active-link" class="text-white">อนุมัติการร้องขอประตู</a>
        <a mat-list-item routerLink="provide" routerLinkActive="active-link" class="text-white">จัดการผู้ใช้</a>
        <a mat-list-item routerLink="controlldoor" routerLinkActive="active-link" class="text-white">ควบคุมประตู</a>
        <a mat-list-item routerLink="position/all" routerLinkActive="active-link" class="text-white">ตำแหน่ง</a>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>    
        <router-outlet></router-outlet>     
    </mat-sidenav-content>

  </mat-sidenav-container>
</ng-container>