<agm-map [latitude]="lat" [longitude]="lng" [mapTypeId]="'satellite'" [zoom]=zoom>
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<div class="container">
    <form class="example-form">

        <div class="row">
            <div class="col-md-4">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="latitude" [value]="lat">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="longitude" [value]="lng">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Favorite food" value="Sushi">
                </mat-form-field>
            </div>
        </div>
    </form>
</div>