<div class="container">
    <p class="font-manage">
        เพิ่มพื้นที่ย่อย
    </p>  <hr>

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" accept-charset="UTF-8">
        <div class="form-group">
            <label for="inputName">ชื่อสถานที่</label>
            <input type="text" class="form-control" formControlName="name" id="inputName">
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" (change)="upload($event.target.files)"  accept="image/*" enctype="multipart/form-data" id="customFile">
            <label class="custom-file-label" for="customFile">{{fileName}}</label>
        </div>
        <div class="row">
           <div class="col-md-12">
               <br>
                <div class="d-flex justify-content-end">
                        <button class="btn btn-outline-info" type="submit">บันทึก</button>
                </div>
           </div>
        </div>
    </form>
</div>